<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Smart_Quarantine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Smart_Quarantine.Properties.Settings>
            <setting name="Lights" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Radio" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TV" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Boiler" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Coffee" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Thermostat" serializeAs="String">
                <value>24</value>
            </setting>
        </Smart_Quarantine.Properties.Settings>
    </userSettings>
</configuration>